<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <!-- Metadata -->
    <%= csrf_meta_tags %>
    <!-- Links -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'icons/favicon.png' %>
    <!-- Scripts -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div> <!-- .container -->
  </body>
</html>